.main-history {
    background-color: rgba(0, 0, 0, 0.592);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999;
    color: #FFF;
    padding: 16px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.main-login {
    background-color: rgba(0, 0, 0, 0.592);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999;
    color: #FFF;
    padding: 16px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.main-qua {
    /* background-color: rgba(0, 0, 0, 0.592); */
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999;
    color: #FFF;
    padding: 16px;
    align-items: center;
    /* justify-content: center; */
    font-size: 16px;
    font-weight: 700;
    padding-top: 200px
}

.main-qua-sub {
    background-color: rgba(0, 0, 0, 0.592);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9998;
    padding: 16px;
    align-items: center;
    padding-top: 185px
}

.button-ok {
    width: 122px;
    height: 34.53px;
    background: linear-gradient(180deg, #FED575 9.09%, #E1A920 49.12%, #FDD78D 92.3%);
    border-radius: 20px;
    border: none;
    color: "#472323";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.button-yes {
    width: 60px;
    height: 34.53px;
    background: linear-gradient(180deg, #FED575 9.09%, #E1A920 49.12%, #FDD78D 92.3%);
    border-radius: 20px;
    border: none;
    color: "#472323";
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.button-no {
    width: 60px;
    height: 34.53px;
    background: #FFF;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.popup-icon-qua {
    /* box-shadow: 0 0 50px rgb(133, 226, 232), 0 0 50px rgb(133, 226, 232) */
    /* position: absolute; */
    /* background-color: #E1A920; */
    /* z-index: 99999; */
}

.btn-history-1 {
    width: 108px;
    height: 26px;
    /* background: linear-gradient(180deg, #FED575 9.09%, #E1A920 49.12%, #FDD78D 92.3%); */
    border-radius: 15px;
    justify-content: center;
    color: #472323;
    cursor: pointer;
}

.btn-history-2 {
    width: 118px;
    height: 26px;
    /* background: linear-gradient(180deg, #EEEEEE 9.09%, #D6D4D4 49.12%, #EEEEEE 92.3%); */
    border-radius: 15px;
    justify-content: center;
    margin-left: 30px;
    color: #472323;
    cursor: pointer;
}

.title-popup {
    background: linear-gradient(180deg, #FFFCEE 22.73%, #FFEDA2 69.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}